@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background: #131313;
}
 
#clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aqua;
    font-size: 60px;
    text-shadow: 0 0 15px currentColor;
}

.color{
    
}
